<div class="row mb-3" *ngFor="let wine of allWines">
  <div class="col-md-9">
    <a href="#" class="list-group-item clearfix">
      <div class="float-left">
        <h4 class="list-group-item-heading">{{ wine.vinyard }}</h4>
        <p class="list-group-item-text mb-0">{{ wine.year }}</p>
        <p class="list-group-item-text mb-0">{{ wine.grape }}</p>
      </div>
      <div class="float-right">
        <img
          src="{{ wine.imagePath }}"
          alt="{{ wine.vinyard }}"
          class="img-responsive rounded"
          style="max-height: 50px"
        />
      </div>
    </a>
  </div>
</div>
