<a style="cursor: pointer;" class="list-group-item clearfix" [routerLink]="[idx]" routerLinkActive="active">
  <div class="float-left">
    <h4 class="list-group-item-heading">{{ wine.vinyard }}</h4>
    <p class="list-group-item-text mb-0">{{ wine.year }}</p>
    <p class="list-group-item-text mb-0">{{ wine.grape }}</p>
  </div>
  <div class="float-right">
    <img
    src="{{ wine.imagePath }}"
    alt="{{ wine.vinyard }}"
    class="image-responsive rounded"
    style="max-height: 50px;"
    />
  </div>
</a>
