div {
  background: url("/assets/cellar.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 h1 {
   color: rgb(15, 3, 5);
   text-emphasis: bold;
   position: relative;
   text-align: center;
   top: 130px;
   font-family: Impact, 'Arial Narrow Bold', sans-serif;
  }
